[Desktop Entry]
Version=1.0
Exec=~/nordvpngui/run.sh
Name=NordVPN
GenericName=NordVPN
Comment=Connect to NordVPN Server
Encoding=UTF-8
Terminal=true
Icon=~/nordvpngui/NordVPN.ico
Type=Application
Categories=Application;Network;
